In [1]:
import pandas as pd
import numpy as np

In [2]:
series = pd.Series([7, 4,2, np.nan,6,9])

In [3]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [5]:
data = pd.date_range('20180101', periods = 6)

In [6]:
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index = data, columns = list("ABCD"))

In [13]:
np.random.randn(6,4)

array([[ 0.37736761, -1.12628384, -0.58931996,  0.80614914],
       [-1.0761491 , -0.01060486,  0.00664441, -0.95554591],
       [-0.54005088,  0.37204906, -1.04816144,  0.54374377],
       [ 1.3962439 , -0.33615658,  0.93444808,  0.66797792],
       [ 2.11098038, -1.5541964 , -0.69021508, -0.24502658],
       [ 0.24755011,  1.01321952,  0.25454976, -1.39324086]])

In [14]:
df

                   A         B         C         D
2018-01-01  1.094367 -0.820550 -0.837783  1.726553
2018-01-02 -1.099967  0.309123  1.029401 -0.249460
2018-01-03 -0.142065  1.268458 -1.642103  0.657100
2018-01-04  1.179213 -0.377324 -1.724265  0.713483
2018-01-05  0.513568  0.108827  0.238487 -1.395230
2018-01-06 -1.354855 -0.373169 -0.094635  0.309277

In [16]:
df2 = pd.DataFrame({"A": 7,
                    'B': pd.Timestamp('20190101'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    "D": np.array([3] * 4, dtype='int32'),
                    "E": pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'Python'})

In [17]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [18]:
df2.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object